@import url("../../../styles/var.css");

body {
    background: white;
    font-family: "Suisse Int'l","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.wrapper {
}

.wrapper main {
    max-width: 1280px;
    padding: 20px 0;
    margin: 0 auto;
}

.header {
    background: var(--dark-gr-color);
    border-bottom: 1px solid var(--light-gray-color);
}

.headerContent {
    max-width: 1280px;
    padding: 20px 0;
    margin: 0 auto;
}

.headerContent nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.headerItem {
    
}

.logotype{
    width: 50px;
    height: 50px;
}

.searchBar {
    width: 300px;
}

.information {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 10px;
}

.informationItem {
    display: flex;
    align-items: center;
    gap: 5px;
    color: black;
}

.infoItemIcon {
    width: 20px;
    height: 20px;
}

@media (max-width: 1280px) {
    .headerContent, .wrapper main{
        padding: 20px 10px;
    }
}