.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1050;
    background: rgba(0, 0, 0, 0.3);
    overflow: auto;
}

.modal {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px 0;
}

.content {
    position: relative;
    background: white;
    border-radius: 5px;
}

.header {
    padding: 20px 20px;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
    background: white;
    border-radius: 5px;
}

.title {

}

.body {
    padding: 0 20px 20px 20px;
}