:root {
    --main-color: rgb(124, 181, 255);
    --gray-color: rgb(230, 230, 230);
    --red-color: rgb(255, 124, 124);
    --yellow-color:rgb(255, 231, 124);
    --dark-gray-color:rgb(180, 180, 180);
}