.wrapper {

}

.container {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 40px;
}

.productsContent {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.filtration {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.filtrationItem {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

@media (max-width: 850px) {
    .container {
        display: flex;
        flex-direction: column;
    }
}